server:
  servlet:
    context-path: /projects
  port: ${PROJECTS_SERVICE_PORT}
  multipart:
    max-file-size: 10MB
    max-request-size: 10MB
spring:
  application:
    name: project-management
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: finance_sbox


eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL}

# actuator
management:
  endpoints.web.exposure.include: health,info
  info.env.enabled: true
info:
  application.name: ${spring.application.name}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    url: /openApi.yaml

client-urls:
  accountsService: ${ACCOUNTS_SERVICE_BASE_URL}
  fileService: ${FILE_SERVICE_BASE_URL}
  employeeService: ${EMPLOYEE_SERVICE_BASE_URL}


jwt:
  secret: ${JWT_SECRET_KEY}
