server:
  servlet:
    context-path: /performance
    multipart:
      max-file-size: 5MB
      max-request-size: 15MB
  port: ${PERFORMANCE_SERVICE_PORT}
spring:
  output:
    ansi:
      enabled: ALWAYS
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB
  application:
    name: performance-service
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${PERFORMANCE_MONGODB_DB_NAME}

eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL}

# actuator
management:
  endpoints.web.exposure.include: health,info
  info.env.enabled: true
info:
  application.name: ${spring.application.name}



client-urls:
  accountsService: ${ACCOUNTS_SERVICE_BASE_URL}/accounts
  employeeService: ${EMPLOYEE_SERVICE_BASE_URL}/employees

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    url: /openApi.yaml

jwt:
  secret: ${JWT_SECRET_KEY}