server:
  port: ${API_GATEWAY_PORT}
  reactive:
    session:
      timeout: 10000m

spring:
  session:
    timeout: 111111m
  application:
    name: api-gateway
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${ACCOUNTS_MONGODB_DB_NAME}

  cloud:
    gateway:
      routes:
        - id: ACCOUNTS-SERVICE
          uri: lb://ACCOUNTS-SERVICE
          predicates:
            - Path= /accounts/**
          filters:
            - CustomTokenRelay=true

        - id: EMPLOYEE-SERVICE
          uri: lb://EMPLOYEE-SERVICE
          predicates:
            - Path= /employees/**
          filters:
            - CustomTokenRelay=true
        - id: FILES-SERVICE
          uri: lb://FILE-SERVICE
          predicates:
            - Path= /files/**
          filters:
            - CustomTokenRelay=true
        - id: EXPENSE-SERVICE
          uri: lb://EXPENSE-SERVICE
          predicates:
            - Path= /expenses/**
          filters:
            - CustomTokenRelay=true
        - id: FINANCE-SERVICE
          uri: lb://FINANCE-SERVICE
          predicates:
            - Path= /finance/**
          filters:
            - CustomTokenRelay=true
        - id: NOTIFICATION-SERVICE
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path= /notifications/**
          filters:
            - CustomTokenRelay=true
        - id: PROJECT-MANAGEMENT
          uri: lb://PROJECT-MANAGEMENT
          predicates:
            - Path= /projects/**
          filters:
            - CustomTokenRelay=true

        - id: RECRUITMENT-SERVICE
          uri: lb://RECRUITMENT-SERVICE
          predicates:
            - Path= /recruitments/**
          filters:
            - CustomTokenRelay=true
  mvc:
    favicon:
      location: classpath:/resources/static/favicon.ico

eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL}


auth.cors.allowed-origins:
  frontEndUrl: ${FRONTEND_URL}
  localFrontEndUrl: http://localhost:3000
  urls:
    - ${FRONTEND_URL}
    - http://localhost:3000
    - http://localhost:3001

skip-gateway-filter-routes:
  routes: ${SKIP_GATEWAY_FILTER_ROUTES}

management:
  metrics:
    enable:
      system: false
    binders:
      jvm:
        enabled: false
      system:
        enabled: false
  endpoint:
    health:
      show-details: always
info:
  application.name: ${spring.application.name}

resource-server-urls:
  accounts-service: ${ACCOUNTS_SERVICE_BASE_URL}
  employee-service: ${EMPLOYEE_SERVICE_BASE_URL}
  file-service: ${FILE_SERVICE_BASE_URL}
  expense-service: ${EXPENSE_SERVICE_BASE_URL}
  finance-service: ${FINANCE_SERVICE_BASE_URL}

jwt:
  secret: ${JWT_SECRET_KEY}